<div class="flexbox-container">
	<div class="flexbox-child-container-a">
		<img
			[height]="profilePicDimension"
			[ngSrc]="'assets/images/image-jeremy.png'"
			[width]="profilePicDimension"
			alt="Profile picture of Jeremy Robson"
			class="profile-pic"
		>
		<div class="report-header">
			<div class="report-text">Report for</div>
			<h1 *ngIf="shouldRenderBr; else clearHeading">Jeremy <br> Robson</h1>
			<ng-template #clearHeading>
				<h1>Jeremy Robson</h1>
			</ng-template>
		</div>
	</div>
	<div class="flexbox-child-container-b">
		<h2
			(click)="onSetOption('daily')"
			[ngClass]="{'active': option === 'daily'}">Daily</h2>
		<h2
			(click)="onSetOption('weekly')"
			[ngClass]="{'active': option === 'weekly'}">Weekly</h2>
		<h2
			(click)="onSetOption('monthly')"
			[ngClass]="{'active': option === 'monthly'}">Monthly</h2>
	</div>
</div>
