@import "default-styles/reset";
@import "default-styles/variables";
@import "default-styles/fonts";

* { box-sizing: border-box }

body, main {
	font-family: $primaryFont, $fallbackFont;
	font-size: 18px;
	font-weight: $normal;
}
